@charset "utf-8";
/* CSS Document */
/* CSS Document */
/* Reset
---------------------------------------------------------------------*/

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

---------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

article, aside, figure, footer, header, hgroup, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
.responsive {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

hr {
	border-top: 1px solid #454545;
}

/*End of Reset-------------------------------------------------------------------*/
html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}


html, body{
    font-family: 'Arial Narrow', 'Century Gothic', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
	background: #262628;
	overflow:hidden;
}
canvas{
    width: 100%;
    height: 100%;
}

#form {
	position: fixed;
	top:0;
	right:0;
	z-index:99;
}

iframe {
	width: 100%;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:99999;
}

#placeTreasureBttn {
	position: relative;
	z-index: 9999999;
}

#compassContainer {
	height: 200px;
	width: 200px;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
}

#compass {
	position: relative;
	border: 1px solid transparent;
	height: 100%;
	width: 100%;
	background: url("../img/arrow.svg") no-repeat;

	border-radius: 50%;
	background-size: 70%;
	background-position: center center;
}

#gem {
	height:100px;
	position: fixed;
	top:50%;
	margin-top:-50px;
	left:50%;
	margin-left:-68px;
	opacity:0;
}

.sliders {
	margin:40px;
}

#distanceSlider {
	width:100%;
}

#peoples {
	position:fixed;
	bottom:70px;
	bottom:-50px;
	left:50%;
	margin-left:-126px;
}

#peoples .person {
	background: #2274b2 url('../img/smile4.svg') no-repeat center center;
	background-size: 50%;
	border-radius: 50%;
	height:40px;
	width:40px;
	display:inline-block;
	margin-left:4px;
	margin-right:4px;
	transition: background .2s ease;
}

#peoples .checked {
	background: #395972;
}

#peoples .checked .checkmark {
	opacity:0;
	display:block;
	height: 100%;
	width:100%;
	left:10%;
	top:-5%;
	position:relative;
	background: url('../img/checkmark4.svg') no-repeat center center;
	background-size:cover;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 19.35px 0;
background:none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.3px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 5.2px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
  background: rgba(54,65,77, 1);
  border-radius: 25px;
  border: 0px solid rgba(100, 100, 100, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.5px 1.5px 7.9px rgba(0, 0, 0, 0.5), 0px 0px 1.5px rgba(13, 13, 13, 0.5);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #888;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -19.35px;
}

input[type=range].enabled::-webkit-slider-thumb {
	background: #e84b3c;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(54,65,77, 1);
}

#placeTreasure {
	background-color: #262628;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
}
	#diamond {
		position: absolute;
		top:260px;
		left: 92px;
	}
	#verstop {
		position: absolute;
		top:100px;
		left: 80px;
	}
	#left {
		position: absolute;
		top:300px;
		left: 30px;
	}
	#right {
		position: absolute;
		top:300px;
		left: 300px;
	}
	.buttonWrapper {
		position: absolute;
		top:480px;
		left: 128px;
		padding: 9px 15px 7px 15px;
		border-radius: 5px;
		background-color: #3c3c3c;
		-webkit-box-shadow: 0px 8px 0px 0px rgba(45, 45, 45, 1);
		transition: all 0.3s ease;
	}
	.click {
		top:488px;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(45, 45, 45, 1);
	}
